## Acceso al servidor

In [4]:
import requests

In [2]:
page = 'http://132.248.51.184:8000/api/schema/swagger-ui/'
resp = requests.get(page+'/api/contratos/1/')
resp.status_code

## Base de datos

In [5]:
import sqlite3

In [6]:
pad_db = "/home/felix/Documentos/LabRemo/Orchestrator/LABREMODB.db"

In [7]:
con = sqlite3.connect(pad_db )

In [8]:
cur = con.cursor()

In [14]:
cur.execute("""SELECT * FROM TOPICS""")
cur.fetchall()

[]

In [16]:
names = list(map(lambda x: x[0], cur.description))

In [19]:
names

['id_topic', 'token', 'id_nodo', 'date', 'status']

In [11]:
import pandas as pd

In [12]:
archivo = '/home/felix/Documentos/LabRemo/Orchestrator/db.xlsx'

In [14]:
file = pd.ExcelFile(archivo)

In [22]:
sheet = file.sheet_names

In [24]:
sheet

['Topic',
 'Orquestador Nodos',
 'Componentes',
 'Mensajes',
 'Acciones',
 'Services',
 'ESP',
 'sesiones',
 'Arduino_hex',
 'Reinicio',
 'Hoja 18',
 'monitoreo actuadores',
 'Arduino infr. led',
 'EndPoint',
 'Lauch']

In [25]:
df1 = pd.read_excel(file, sheet[0])

In [26]:
df1

   IdTopic                        Topic   Token       Date   Status
0      int                       string  string  timestamp  boolean
1        1   top_supervisor_operaciones     NaN        NaN      NaN
2        2  admin_transacciones_entrada     NaN        NaN      NaN
3        3               top_log_salida     NaN        NaN      NaN
4        4            top_transacciones     NaN        NaN      NaN
5        5    top_auditor_transacciones     NaN        NaN      NaN
6        6  top_transacciones_aceptadas     NaN        NaN      NaN
7        7                  top_consola     NaN        NaN      NaN
8        8                 archivos_hex     NaN        NaN      NaN
9        9                   create_bit     NaN        NaN      NaN
10      10                  arduino_inf     NaN        NaN      NaN
11      11             top_archivos_hex     NaN        NaN      NaN
12      12              transformar_bit     NaN        NaN      NaN
13      13               top_create_bit     NaN        NaN      NaN
14      14                    carga_bit     NaN        NaN      NaN
15      15             top_archivos_bit     NaN        NaN      NaN
16      16               carga_bit_fpga     NaN        NaN      NaN

In [ ]:
f""" CREATE TABLE IF NOT EXISTS {}"""